body, input, textarea {
	font-family: 'Droid Sans', sans-serif;
}

#footer {
	color: #000;
	padding: 0.25em 0.125em;
	background: url('img/bg-pattern-light.gif');
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 0.813em;
}

a {
    text-decoration: none;
    color: #000;
}

img {
	border: 0px;
}